h1 {
    color:black;
    padding-inline-start: 510px;
    font-family: 'Algerian';
    

}
p{
    color:black;
    font-family: 'Algerian';

}

body{
    background-color:#85E052;
    margin-top: 20px;
  }

.header{
    background-color:#85E052;

    display: flex;
   ;
 }
.games{
background-color:#6EC4BD;
}
.Video{
    background-color: #FFF7C0;
}
.abus{
    margin-left: 500px;

}



  
.des{
text-align: end;

    font-family: 'Algerian';
  
    color: black;
}
 h2 {
 background-color:#FA7C92;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
 margin-top: -10px;
}
h6{
    text-align: center;
    font-style: italic;
    font-size: large;
}
.data h3 {
    
    font-style:unset;
 padding-top: 15px;
 /*padding-bottom: 5px;*/
 text-align: start;
 
}
.data {
    background-color:rgb(11, 252, 220);
  /*  padding-bottom: 10px;
    text-align: left;*/
    border: 10px solid seashell;

}
.items{
    padding: 20px;
   margin: 20px; 
   
}
.items {
    position: relative;

}
.items p{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity: 0 ;
    color:blue
}
.items:hover p {
    opacity: 1;

}
.items:hover img{
    opacity: 0.33;
}
.item{
    padding: 20px;
   margin: 20px; 
   
}
.item {
    position: relative;

}
.item p{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity: 0;
    color:blue

}
.item:hover p {
    opacity: 1;

}
.item:hover img{
    opacity: 0.33;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 
}
p,h2,h3{
    text-align: center;
}
h4{
    text-align: end;
    font-family: French Script MT;
    font-size: 2vmax;
}
.footer{
    display: flex;
    justify-content: flex-end;

}

.grid img {
    border: 2px solid RED;
    border-radius: -1px;
  }
  .menu{
      margin-right: 20px;
      padding-top: 20px;
      
  }
  .menu a{
      color: seashell;
  }
  /*link{
      color:springgreen

  }*/